<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<div class="footer" th:fragment="footer">
	<div class="d-flex justify-content-between bd-highlight mb-3">
		<div class="p-2 bd-highlight">
			<a class="btn btn-info" th:href="@{/}" style="padding-bottom: 2px;"> <i class="fa fa-empire"
					aria-hidden="true"></i> Mohummad Peer
			</a>
		</div>
		<div class="p-2 bd-highlight">
			<a class="btn btn-warning float-center" th:href="@{/}" style="padding-bottom: 2px;">@Devteam - 2021
			</a>
		</div>
	</div>
</div>

</html>
